@use '@material/select';
@use '@material/theme';
@use './../variabless';

.mdc-select {
    @include select.container-fill-color(theme.$background);
    // &.mdc-h__es {
    //     @include select.outlined-height(variabless.$height-extra-small);
    //     @include select.filled-height(variabless.$height-extra-small);
    // }
    // &.mdc-h__s {
    //     @include select.outlined-height(variabless.$height-small);
    //     @include select.filled-height(variabless.$height-small);
    // }
    // &.mdc-h__m {
    //     @include select.outlined-height(variabless.$height-medium);
    //     @include select.filled-height(variabless.$height-medium);
    // }
    // &.mdc-h__l {
    //     @include select.outlined-height(variabless.$height-large);
    //     @include select.filled-height(variabless.$height-large);
    // }

    
    // &.mdc-data-table__pagination-rows-per-page-select {
    //     @include select.outlined-height(36px);
    // }
    // &:not(.mdc-data-table__pagination-rows-per-page-select) {
    //     @include select.filled-density(variabless.$density);
    //     @include select.outlined-density(variabless.$density);
    // }
}

.mdc-select__anchor {
    --mdc-ripple-hover-opacity: #{variabless.$ripple-hover-opacity};
    --mdc-ripple-press-opacity: #{variabless.$ripple-press-opacity};
    --mdc-ripple-focus-opacity: #{variabless.$ripple-focus-opacity};
}
