// @use '@material/typography';
// @use '@material/list';
@use './../variabless';

$item-margin-bottom: 10px;

.mdc-collapse-search {
    .mdc-collapse__header {
        color: var(--mdc-theme-text-secondary-on-background);
    }
}

.mdc-collapse-search__item {
    display: flex;
    flex-direction: row;
    margin-bottom: $item-margin-bottom;
    align-items: center;
}

// .mdc-collapse-search__label {
//     box-sizing: border-box;
//     text-align: right;
//     width: 40%;
// }

// .mdc-collapse-search__component {
//     width: 60%;    
// }
.mdc-collapse-search__action {
    margin-bottom: $item-margin-bottom;
}

.mdc-collapse-search__action-helper {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--mdc-theme-primary-border-color);
}

.mdc-collapse-search__button {
    width: 100%;
    &.mdc-button {
        --mdc-typography-button-font-size: #{variabless.$font-size-small};
        font-weight: 400;
    }
}

.mdc-collapse-search__action-text {
    color: var(--mdc-theme-text-secondary-on-background);
}