@use './../variabless';

.mdc-collapse-search {
    .mdc-collapse__header {
        color: var(--mdc-theme-text-secondary-on-background);
    }
}

.mdc-collapse__content {
    .mdc-form-field__i {
        margin-bottom: variabless.$collpase-content-padding;
        &.mdc-form-field__label--top {
            margin-bottom: 3px;
        }
        &.mdc-collapse-search__i--switch {
            margin-bottom: 0;
        }
    }
    .mdc-form-field__label--top {
        .mdc-outer-label {
            padding: 0;
        }
    }
    .mdc-form-field--align-end {
        width: 100%;
        > label {
            margin-left: 0;
            padding-right: variabless.$text-field-padding;            
            text-align: right;
            width: variabless.$collapse-label-outer-left-width;
        }
    }
}

.mdc-collapse-search__action {
    margin-bottom: variabless.$collpase-content-padding;
}

.mdc-collapse-search__action-helper {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--mdc-theme-primary-border-color);
}

.mdc-collapse-search__button {
    width: 100%;
    &.mdc-button {
        --mdc-typography-button-font-size: #{variabless.$font-size-small};
        font-weight: 400;
    }
}

.mdc-collapse-search__action-text {
    color: var(--mdc-theme-text-secondary-on-background);
}
