@use '@material/textfield';
@use '@material/icon-button';
@use '@material/theme';
@use '@material/ripple/ripple-theme';
@use './../variabless';

$text-field-padding: 14px;
$text-field-padding-outline: 16px;

.mdc-text-field {
    @include textfield.fill-color(theme.$background); 
    &.mdc-cmp-height__extra-small {
        @include textfield.height(variabless.$height-extra-small);
    }
    &.mdc-cmp-height__small {
        @include textfield.height(variabless.$height-small);
    }
    &.mdc-cmp-height__medium {
        @include textfield.height(variabless.$height-medium);
        // @include textfield.density(-4);
    }
    &.mdc-cmp-height__large {
        @include textfield.height(variabless.$height-large);
        // @include textfield.density(-2);
    }
    padding: 0 $text-field-padding;
    + .mdc-text-field-helper-line {
        justify-content: left;
        padding: 0 $text-field-padding;
        // margin-top: -1px;
        .mdc-text-field-helper-text {
            opacity: 1;
            transition: opacity 115ms;
            &.mdc-text-field-helper-text--animation {
                opacity: 0;
            }
        }
    }
    .mdc-icon-button {
        @include icon-button.density(-2);
    }
    //Сделать цвет hover = focus
    &.mdc-text-field--filled {
        --mdc-ripple-hover-opacity: #{variabless.$ripple-hover-opacity};
        --mdc-ripple-press-opacity: #{variabless.$ripple-press-opacity};
        --mdc-ripple-focus-opacity: #{variabless.$ripple-focus-opacity};
    }
}

.mdc-outer-label {
    padding: 0 $text-field-padding;
}

/* TEXTFIELD LABEL */

.mdc-text-field--filled {
    .mdc-floating-label {
        left: $text-field-padding;
    }
    .mdc-floating-label--float-above {
        transform: translateY(-106%) scale(0.8);
    }
}

.mdc-text-field--outlined {
    .mdc-notched-outline {
        .mdc-notched-outline__leading {
            width: $text-field-padding-outline;
        }
    }
}

/* TEXTFIELD ICONS */

.mdc-text-field__group-icon {
    align-self: center;
    display: inline-flex;
    margin: 0 3px;
    .mdc-text-field__icon {
        margin: 0 3px;
    }
}

.mdc-text-field--with-trailing-icon {
    padding-left: $text-field-padding;
    padding-right: 0;
}

.mdc-text-field--with-leading-icon {
    padding-right: $text-field-padding;
    padding-left: 0;
    &.mdc-text-field--filled {
        // GOTO here you have to calc
        .mdc-floating-label {
            left: 52px;
        }
    }
}

.mdc-text-field__icon--leading,
.mdc-text-field__icon--trailing {
    padding: 8px;
}

.mdc-text-field__icon--leading {
    margin: 0 6px;
}

.mdc-text-field__icon--trailing {
    margin: 0 6px;
}

/* TEXTFIELD PREFIX SUFFIX */

.mdc-text-field__affix--prefix {
    padding-right: 4px;
}

.mdc-text-field__affix--suffix {
    padding-left: 4px;
}
