@use '@material/theme/theme-color';

.mdc-checkbox {
    &.mdc-checkbox--disabled {
        + label {
            color: theme-color.prop-value(text-disabled-on-background);
        }
    }
    + label {
        line-height: 0;
        cursor: pointer;
    }
}