@use '@material/typography';

$box-shadow-index: 1;

$list-item-height: 38px;
$list-item-icon-font-size: typography.pxToRem(21px);
$list-item-text-font-size: typography.pxToRem(13.3px);

$height-extra-small: 36px;
$height-small: 38px;
$height-medium: 40px;
$height-large: 44px;

$ripple-hover-opacity: 0.04;
$ripple-press-opacity: 0.04;
$ripple-focus-opacity: 0.04;
