// @use '@material/typography';
@use './helper';

$box-shadow-index: 1;

$height-extra-small: 34px;
$height-small: 36px;
$height-medium: 40px;
$height-large: 44px;

$font-size-extra-small: helper.pxToRem(12px);
$font-size-small: helper.pxToRem(13.3px);
$font-size-medium: helper.pxToRem(14px);
$font-size-large: helper.pxToRem(16px);

$ripple-hover-opacity: 0.04;
$ripple-press-opacity: 0.04;
$ripple-focus-opacity: 0.04;

$collpase-content-padding: 10px;
$collapse-label-outer-left-width: 45%;

$text-field-padding: 14px;
