@use '@material/list';
@use './../variabless';
@use './../helper';

.mdc-collapse {
    .mdc-list-group__subheader {
        --mdc-typography-subtitle1-font-size: #{variabless.$font-size-extra-small};
    }

    .mdc-list-item {
        border-radius: 3px;
    }
}

.mdc-collapse__header {
    .mdc-list-item__text {
        width: 100%;
        text-align: right;
    }
    .mdc-list-item__graphic {
        display: inline-block;
        font-size: helper.pxToRem(19px);
        height: auto;
        width: auto;
        transform: rotate(0deg);
        transition: transform 150ms 0ms ease-out;
    }
}

.mdc-collapse__header-active {
    .mdc-list-item__text {
        font-weight: 600;
    }
    .mdc-list-item__graphic {
        transform: rotate(180deg);
    }
}

.mdc-collapse__content {
    padding: 14px;
    display: none;
    opacity: 0;
    transition: ease-out opacity 150ms;
    &.mdc-collapse__content-open {
        display: block;
        &.mdc-collapse__content-activated {
            opacity: 1;
        }
    }
}
