@use "@material/list";
@use '@material/theme/theme-color';
@use './../variabless';

.mdc-list-group__subheader {
    --mdc-typography-subtitle1-font-size: #{variabless.$font-size-small};
    // font-size: variabless.$font-size-small;
    line-height: 1.3rem;
    --mdc-theme-text-primary-on-background: #{theme-color.prop-value(
            text-secondary-on-background
        )};
}

.mdc-list-item__text {
    line-height: initial;
}

.mdc-list-item {      
    --mdc-ripple-hover-opacity: #{variabless.$ripple-hover-opacity};
    --mdc-ripple-press-opacity: #{variabless.$ripple-press-opacity};
    --mdc-ripple-focus-opacity: #{variabless.$ripple-focus-opacity};
}
