@use '@material/drawer';
@use '@material/theme/theme-color';
@use '@material/typography';
@use './../variabless';
@use './../helper';

$drawer-icon-font-size: helper.pxToRem(21px);
$drawer-title-icon-font-size: helper.pxToRem(28px);

.mdc-drawer {
    // @include drawer.item-shape-radius(0 medium medium 0);
    @include drawer.item-shape-radius(0);
    border: 0;
    .mdc-drawer__title {
        color: var(--mdc-theme-text-logo, #be147a);
    }
    .mdc-list {
        > div {
            display: none;
            &.active {
                display: block;
            }
        }
        .mdc-list-item {
            margin-left: 0;
            margin-right: 0;
            padding: 0 26px;
            height: 44px;
            .mdc-list-item__graphic {
                font-size: $drawer-icon-font-size;
                margin-right: 12px;
            }
        }
        .mdc-list-group__subheader {
            color: theme-color.prop-value(text-secondary-on-background);
            margin-bottom: 8px;
        }
    }
}

.mdc-drawer__title {    
    &.mdc-drawer__title-with-icon {
        display: flex;
        align-items: center;
        height: 100%;
        .mdc-drawer__title-name {
            @include typography.overflow-ellipsis();
        }
        .mdc-drawer__title-icon {
            font-size: $drawer-title-icon-font-size;
            margin: -1px 5px 0 0;
        }
    }
}
