@use './../helper';
@use '@material/theme/theme-color';

$left-app-bar-width: 56px;
$left-app-bar-icon-height: 74px;

.mdc-left-app-bar {
    background: var(--mdc-theme-background-secondary);
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100vh;
    width: $left-app-bar-width;
    min-width: $left-app-bar-width;
    overflow: hidden;
    touch-action: auto;
    --mdc-left-app-bar-icon-color: var(--mdc-theme-text-icon-on-dark);

    .mdc-list-item__graphic {
        color: var(--mdc-left-app-bar-icon-color);
        margin: 0;
    }

    .mdc-list-item {
        height: $left-app-bar-icon-height;
        padding: 0;
        justify-content: center;
        --mdc-ripple-color: var(--mdc-theme-text-primary-on-dark);
        --mdc-ripple-hover-opacity: 0;
        --mdc-ripple-press-opacity: 0;
        --mdc-ripple-focus-opacity: 0;
        --mdc-ripple-selected-opacity: 1;
        &:hover,
        &:focus,
        &.mdc-list-item--selected {
            .mdc-list-item__graphic {
                --mdc-left-app-bar-icon-color: var(
                    --mdc-theme-text-primary-on-dark
                );
            }
        }
        &.mdc-list-item--selected {
            --mdc-ripple-hover-opacity: 1;
            --mdc-ripple-press-opacity: 1;
            --mdc-ripple-focus-opacity: 1;
        }
        .mdc-list-item__ripple {
            width: 4px;
            top: 7%;
            bottom: 7%;
            height: auto;
        }
        &.mdc-left-app-bar-item__all {
            height: $left-app-bar-icon-height / 2;
        }
    }
    :not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::before,
    :not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 2px 2px 0;
    }
}
