@use './../helper';

$left-app-bar-width: 62px;
$left-app-bar-icon-height: 74px;

.mdc-left-app-bar {
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100vh;
}

.mdc-left-app-bar-content {
    background: var(--mdc-theme-background-secondary);
    overflow: hidden !important;
    overflow-anchor: none;
    touch-action: auto;
}

.mdc-left-app-bar-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 5px 0 0 0;
    width: $left-app-bar-width;
}

.mdc-left-app-bar-item {
    position: relative;
    &.mdc-left-app-bar-item__all {
        .mdc-left-app-bar-item__label {
            height: $left-app-bar-icon-height / 2;
        }
    }
    &:not(.mdc-left-app-bar-item__all) {
        .mdc-left-app-bar-item__label {
            .mdc-left-app-bar-item__icon {
                font-size: var(
                    --mdc-typography-headline4-font-size,
                    helper.pxToRem(26px)
                );
            }
            &.active {
                &:after {
                    border-radius: 0 2px 2px 0;
                    left: -1px;
                    content: '';
                    background: var(--mdc-theme-text-primary-on-dark);
                    position: absolute;
                    width: 5px;
                    height: 90%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.mdc-left-app-bar-item__label {
    color: var(--mdc-theme-text-icon-on-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $left-app-bar-icon-height;
    &.active {
        color: var(--mdc-theme-text-primary-on-dark);
    }
    &:hover {
        color: var(--mdc-theme-text-primary-on-dark);
    }
}
