@use '@material/typography';
@use './../variabless';

$input-width: 100% - variabless.$collapse-label-outer-left-width;

@mixin height($mode, $size) {
    .mdc-text-field.mdc-h__#{$mode},
    .mdc-select.mdc-h__#{$mode} .mdc-select__anchor,
    .mdc-select.mdc-h__#{$mode} .mdc-list-item,
    .mdc-list.mdc-h__#{$mode} .mdc-list-item,
    .mdc-form-field.mdc-h__#{$mode}
     {
        height: $size;
    }
}

@include height('exsmall', variabless.$height-extra-small);
@include height('small', variabless.$height-small);
@include height('medium', variabless.$height-medium);
@include height('large', variabless.$height-large);

.mdc-form-field__i {
    margin-bottom: 14px;
}

.mdc-form-field__label--top,
.mdc-form-field__label--inner {
    width: 100%;
    .mdc-text-field,
    .mdc-select {
        width: 100%;
    }
}

.mdc-form-field__label--top {
    .mdc-outer-label {
        @include typography.overflow-ellipsis();
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0 variabless.$text-field-padding;
    }
}

.mdc-form-field__label--left {
    width: 100%;
    .mdc-outer-label {
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.1rem;
        box-sizing: border-box;
        padding-right: variabless.$text-field-padding;
        text-align: end;
        width: variabless.$collapse-label-outer-left-width;
    }
    .mdc-text-field,
    .mdc-select {
        width: $input-width;
    }
    .mdc-text-field-helper-line {
        display: flex;
        justify-content: flex-end;
        .mdc-text-field-helper-text {
            width: $input-width;
        }
    }
}

.mdc-form-field__with-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
