@use "@material/snackbar";
@use '@material/theme/theme-color';
@use './../variabless';

$snackbar-min-width: 200px;

.mdc-snackbar {
    // @include snackbar.elevation(1);
    .mdc-snackbar__absolute {
        position: absolute;
    }
        
    @include snackbar.fill-color(theme-color.prop-value(background-secondary));
    @include snackbar.min-width($snackbar-min-width);
    &.mdc-snackbar--trailing {
        justify-content: flex-end;
    }
    &.mdc-snackbar--action-baseline {
        .mdc-snackbar__actions {
            align-self: baseline;
            margin-top: 6px;
        }
    }
}

.mdc-snackbar__label {
    font-size: variabless.$font-size-small;
    div {
        margin: 5px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: snackbar.$mobile-breakpoint) {
    .mdc-snackbar {
        @include snackbar.viewport-margin(snackbar.$viewport-margin-wide);
    }
}
