@use '@material/button';
@use '@material/icon-button';
@use '@material/select';
@use './../helper';

.mdc-data-table {
    width: 100%;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    .mdc-data-table__cell-serial {
        width: 1px;
        white-space: nowrap;
        font-size: 0.8em;
        padding: 0 8px;
    }
    .mdc-data-table__content {
        opacity: 1;
        transition: opacity linear 150ms;
        &.mdc-data-table__content-reload {
            opacity: 0;
        }
    }
}

.mdc-data-table__pagination {
    // .mdc-data-table__pagination-rows-per-page 
    .mdc-data-table__pagination-total {
        line-height: initial;
    }
    .mdc-data-table__pagination-navigation {
        .mdc-icon-button {
            @include icon-button.density(-3);
            line-height: inherit;
            font-size: helper.pxToRem(15px);
            &.mdc-data-table__pagination-button {
                font-size: helper.pxToRem(19px);
            }
        }
        .mdc-icon-button:disabled {
            a {
                color: inherit;
            }
        }
        .mdc-icon-button:not([disabled]) {
            a {
                color: var(--mdc-theme-text-primary-on-background);
            }
        }
    }
}

.mdc-data-table__header-cell {
    // display: flex;
    justify-content: space-between;
    font-weight: 600;
    a {
        // font-weight: 600;
        color: inherit;
    }
}

.mdc-data-table__header-cell-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .mdc-data-table__sort-icon-button {
        font-size: helper.pxToRem(15px);
        opacity: 1;
        color: var(--mdc-theme-text-disabled-on-background);
    }
}

.mdc-data-table__header-cell:hover .mdc-data-table__sort-icon-button, .mdc-data-table__header-cell--sorted .mdc-data-table__sort-icon-button {
    color: inherit;
}