@use '@material/elevation';
@use '@material/typography';
@use './../variabless';

.mdc-menu-surface {
    @include elevation.elevation(variabless.$box-shadow-index);
    .mdc-list {
        font-size: variabless.$list-item-text;
        padding: 6px 0;
        .mdc-list-item {
            height: 38px;
            padding: 0 20px;
            .mdc-list-item__graphic {
                color: var(--mdc-theme-text-secondary-on-background);
                font-size: variabless.$list-item-icon-font-size;
                margin-right: 12px;
            }
        }        
    }
}
