@use '@material/elevation';
@use '@material/list';
@use '@material/theme/theme-color';
@use '@material/typography';
@use './../variabless';

.mdc-menu {
    .mdc-list-item__graphic {
        color: var(--mdc-theme-text-secondary-on-background);        
        margin-right: 12px;
    }
}

.mdc-menu {
    @include elevation.elevation(variabless.$box-shadow-index);
    .mdc-list {
        padding: 6px 0;
    }
    .mdc-list-item {
        padding: 0 20px;
    }
}
